.layout {
  position: relative;
  display: flex;
  flex: 1;
  background: linear-gradient(to right, #0f2027, #192e35, #1d3641);
  color: white;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.4rem;
  padding-left: 1rem;

  transition: all 0.1s linear;

  &:hover {
    opacity: 1;
  }

  a {
    color: rgb(255, 255, 255);
  }
}
